/*ITIS 3135 Activity 2 css file*/

/*styling for the table goes here*/
body
{
	width: 750px;
	margin: 0 auto;
	background-color: silver;
}

table
{
	border-collapse: collapse;
	
	margin: 20px;
}

thead
{
	background-color: green;
}

th, td
{
	border: 1px solid black;
	padding: .2em 1em .2em .5em;
	text-align: left;
	vertical-align: middle;
}

.right
{
	text-align: right;
}

tbody tr:nth-child(odd) td
{
	background-color: lightgreen;
}

.titleText {
	text-align: center;
	color: blue;
	font-size: 40px;
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.subTitle {
	text-align: center;
	color: blue;
	font-size: 30px;
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav {
	text-align: center;
	color: blue;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

figure {
	text-align: center;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

figcaption {
	text-align: center;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.text {
	color: black;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.topAlign {
	vertical-align: top;
}

.rightAlign {
	text-align: right;
}

.greenBox {
	background-color: lightgreen;
	vertical-align: top;
}

footer {
	text-align: center;
}

