/* Beginning of css for my normal website designs */

.title {
    text-align: center;
    color: #ADF6B1;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
}

.subtitle {
    text-align: center;
    color: #ADF6B1;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
}

.footer {
    text-align: center;
    color: #717C89;
    background-color: #A1E5AB;
    font-family: 'Times New Roman', Times, serif;
}

.class_links {
    text-align: center;
    color: #ADF6B1;
}

/* Ending of css for my normal website designs */

/* Everything below this comment is from the tutorial */

html {
    box-sizing: border-box;
}

body {
    margin: 0;
}

*, *::before, *::after {
    box-sizing: inherit;
}

/* Responsive Images */

embed, iframe, img, object, video {
    max-width: 100%;
}

h1, h2, h3, h4, h5, h6, ul, ol, li, p, pre, blockquote, figure, hr {
    margin: 0;
    padding-right: 0;
    padding-left: 0;
}

a {
    text-decoration: none;
}

a:focus {
    outline: none;
}

h1, h2, h3, h4, h5, h6 {
    display: block;
}

/* This css block will be used to remove decimals and discs from any lists */

ol, ul {
    list-style: none;
}

/* 
* This next block will coompletely reset form items with a super hard reset.
* The reset removes all borders and radiuses from all the form items
*(Including checkboxes and radios)
*/

input, textarea, button {
    border: 0;
    border-radius: 0;
    background-color: transparent;
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
    outline: none;
    appearance: none;
    text-align: left;
}

input:hover, input:active, input:focus, textarea:hover, textarea:active, textarea:focus, button:hover, button:active, button:focus {
    outline: none;
}

:root {
    font-family: Helvetica, Arial, sans-serif;
}

html {
    font-size: 175%;
    font-weight: 300;
    line-height: 1.3;
}

body {
    align-items: center;
    background-image: linear-gradient(236deg, #74ebd5, #acb6e5);
    display: flex;
    height: 100vh;
    justify-content: center;
}

.container {
    max-width: 20em;
}

.container>p {
    text-align: center;
}

/* This is the css block for the display of the calculator itself */

.calculator {
    border-radius: 12px;
    box-shadow: 0 0 40px 0px rgba(0, 0, 0, 0.15);
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    max-width: 15em;
    overflow: hidden;
}

/* This is the css block for the display screen of the calculator */

.calculator__display {
    background-color: #222222;
    color: #fff;
    font-size: 1.714285714em;
    padding: 0.5em 0.75em;
    text-align: right;
}

/* 
* These next few css blocks are for the keys on the calculator which in this case 
* is the whole calculator except the display screen (number keys and operator keys)
*/

.calculator__keys {
    background-color: #999;
    display: grid;
    grid-gap: 1px;
    grid-template-columns: repeat(4, 1fr);
}

.calculator__keys>* {
    background-color: #fff;
    padding: 0.5em 1.25em;
    position: relative;
    text-align: center;
}

.calculator__keys>*:active::before, .calculator__keys>.is-depressed::before {
    background-color: rgba(0, 0, 0, 0.2);
    bottom: 0;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5) inset;
    content: "";
    left: 0;
    opacity: 0.3;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}

/* This is the css block for the operator keys (+,-,*,/)*/

.key--operator {
    background-color: #eee;
}

/* This is the css block for the equal sign */

.key--equal {
    background-image: linear-gradient(to bottom, #fe886a, #ff7033);
    grid-column: -2;
    grid-row: 2 / span 4;
}