body {
    background-color: #717C89;
}

h1 {
    text-align: center;
    color: #ADF6B1;
    font-family:'Times New Roman', Times, serif;
    font-size: 45px;
}

h2 {
    text-align: center;
    color: #ADF6B1;
    font-family:'Times New Roman', Times, serif;
    font-size: 30px;
}

footer {
    text-align: center;
    color: #717C89;
    background-color: #A1E5AB;
    font-family:'Times New Roman', Times, serif;
}

.introduction {
    text-align: center;
    color: #717C89;
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    font-size: 50px;
    font-family:'Times New Roman', Times, serif;
}

.buttons {
    text-align: center;
    color: #717C89;
    margin-left: auto;
    margin-right: auto;
    font-family:'Times New Roman', Times, serif;
}

.introductionBox {
    background-color: #ADF6B1;
    margin-left: auto;
    margin-right: auto;
}

.closing {
    color: #A1E5AB;
    text-align: center;
    font-size: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    font-family:'Times New Roman', Times, serif;
}

.center {
    text-align: center;
}
