<!--This is the link to the jaguar image: https://openclipart.org/image/400px/319839-->
<h1 id="heading"><img src="images/panther-openclipart-org.png" alt="This is the companies panther logo"
                class="pantherPicture">Dynamic Panther Enterprises<img src="images/panther-openclipart-org.png"
                alt="This is the companies panther logo" class="pantherPicture"></h1>

<nav class="brand_links">
        <a href="index.html">Home</a>
        ||
        <a href="contact.html">Contact</a>
        ||
        <a href="brand-slideshow.html">Slideshow</a>
</nav>