<div class="company_header">
    <h1>
        <img src="images/jim_douglas_tents_logo.JPG" class="logo_left">Jim Douglas Tents Inc<img
            src="images/jim_douglas_tents_logo.JPG" class="logo_right">
    </h1>
</div>

<div class="navigation_bar">
    <div class="navigation_links">
        <a class="navigation_bar_hover" href="index.html">Home</a>
    </div>
    <div class="navigation_links">
        <a class="navigation_bar_hover" href="package.html">Packages</a>
    </div>
    <div class="navigation_links">
        <a class="navigation_bar_hover" href="locations.html">Location's Avaliable</a>
    </div>
    <div class="navigation_links">
        <a class="navigation_bar_hover" href="gallery.html">Gallery</a>
    </div>
    <div class="navigation_links">
        <a class="navigation_bar_hover" href="team.html">Our Team</a>
    </div>
    <div class="navigation_links">
        <a class="navigation_bar_hover" href="about.html">About Us</a>
    </div>
    <div class="navigation_links">
        <a class="navigation_bar_hover" href="contact.html">Contact Us</a>
    </div>
    <div class="navigation_links">
        <a class="navigation_bar_hover" href="description.html">Project Summary</a>
    </div>