<h1>Danny Patricola << ITIS3135</h1>
<nav>
    <a href="index.html">Home</a>
    ||
    <a href="contract.html">Contract</a>
    ||
    <a href="introduction.html">Introduction</a>
    ||
    <a href="tables.html">Tables</a>
    ||
    <a href="forms.html">Form</a>
    ||
    <a href="brand-dynamic-panther.html">Dynamic Panther Enterprises</a>
    ||
    <a href="first-scripts.html">First Script</a>
    ||
    <a href="polygon-name.html">Polygon Names</a>
    ||
    <a href="calculator.html">Calculator</a>
    ||
    <a href="calculator_fcc.html">Calculator FCC</a>
    ||
    <a href="arrays.html">Arrays</a>
</nav>